---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Instrumentos Populares">
  <section>
    <h1 class="text-4xl font-bold mb-4">Instrumentos Populares</h1>
    <ul class="list-disc ml-8">
      <li>Guitarra</li>
      <li>Piano</li>
      <li>Batería</li>
      <li>Violín</li>
      <li>Saxofón</li>
    </ul>
  </section>
</Layout>
