---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Música">
  <section>
    <h1 class="text-4xl font-bold mb-4">Explora el Mundo de la Música</h1>
    <p>Descubre géneros musicales, instrumentos y mucho más.</p>
    <ul class="list-disc ml-8 mt-4">
      <li>Rock</li>
      <li>Jazz</li>
      <li>Blues</li>
      <li>Clásica</li>
      <li>Electrónica</li>
    </ul>
  </section>
</Layout>
