---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Deportes">
  <section>
    <h1 class="text-4xl font-bold mb-4">Noticias de Deportes</h1>
    <p>Mantente al tanto de los últimos eventos deportivos y campeonatos alrededor del mundo.</p>
    <ul class="list-disc ml-8 mt-4">
      <li>Fútbol</li>
      <li>Baloncesto</li>
      <li>Tenis</li>
      <li>Atletismo</li>
      <li>Natación</li>
    </ul>
  </section>
</Layout>
