---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>{body}</p>
  </a>
</li>

<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
  }
  .link-card > a {
    width: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background-color: #23262d;
    transition: background-color 0.3s;
  }
  .link-card:hover {
    background-color: rgba(224, 204, 250, 0.1);
  }
  h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
</style>
